src-code/bela/old/
src-code/bela/new-gui/
src-code/old/
accelerometer/accelerometer_sounds/
temp-sounds/
sounds_processed/
accelerometer/old/
pictures/
sounds/sound8_vars/
.DS_Store
zoom-recs/
sounds/
echothief/
old/
temp-sounds/
