sounds/
src-code/bela/old/
src-code/bela/new-gui/
src-code/old/
accelerometer/accelerometer_sounds/
temp-sounds/
sounds_processed/
accelerometer/old/
pictures/
sounds/sound8_vars/
.DS_Store
zoom-recs/
echothief/
old/
temp-sounds/
sounds/*
sounds/parameter_space.org
zoom-recordings-2_211202/
zoom-recordings-3_211215/
